@import url("normalize.css");
*{
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
	color: #666;
}
h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
	font-weight: 300;
}
a:active, a:visited, a:focus{
	text-decoration:none;
	outline:none;
}

.header {
	background: #2a89c1;
	margin-bottom: 150px;
}

.container {
	width: 1170px;
	margin: 0 auto;
	position: relative;
}
.header-name {
	padding-top: 50px;
	color: #fff;
	padding-bottom: 50px;
	text-align: left;
}

.header-name h1 {font-weight: 300;}

.header {position: relative;}

.header-avatar{
	background: #2a89c1;
	position: relative;
	text-align: center;
	margin-bottom: 78px;
}

.header-avatar > div {
	position: absolute;
	display: inline-block;
	border: 3px solid #2a89c1;
	border-radius: 70%;
	left: calc(50% - 75px);
	width: 150px;
	bottom: -78px;
	height:150px;
	background: url(../img/avatar.jpg) 50% no-repeat;	
	background-size: cover;
}

section {
	width: 600px;
	margin: 0 auto;
	margin-bottom: 50px;
	border: 1px solid #eee;
	border-radius: 15px;
	padding: 20px; 
	box-shadow: 3px 3px 10px rgba(153,153,153,0.5);
	line-height: 1.4;
	
}
.main-social-links{
	position:absolute;
	z-index:2;
	width:100%;
	display:block;
	text-align: right;
}
.main-social-links a{
	width:3rem;
	height:3rem;
	line-height:3rem;
	display:inline-block;
	color:#fff;
	border:solid 1px #fff;
	border-radius:50%;
	margin:1rem 5px 0;
	font-size:1.5rem;
	transition:0.2s;
	text-align:center;
}

.hr {
	height: 1px;
	width: 100px;
	border-bottom: 1px solid #000;
	margin: 20px 0;
}

.footer {
	height: 150px;
	background: #2a89c1;
}

.clearfix {	
	display: block;
	content: "";
	clear: both;
}